<!DOCTYPE html>
<html>
<head>
<title>Review wall of fame</title>
</head>

<body>
<h1>Patch statuses</h1>
{{ patches_list.style.render()|safe }}
<h1>Patch status summary</h1>
{{ patch_summary.style.render()|safe }}
<h1>People and reviews</h1>
{{ reviewers_n_patches.style.render()|safe }}
</body>
</html>
