[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ptpython = "*"
ipython = "*"
review-wof = {editable = true,path = "."}
pytest = "*"

[packages]
Flask = "*"
review-wof = {editable = true,path = "."}

[requires]
python_version = "3.6"
